#main{
width: 800px;
margin-right: auto;
margin-left: auto;
padding: 20px;
}

#main form, #loading{
text-align: center;
}

#shows span{
margin: 10px;
padding: 2px;
cursor: pointer;
color: #666;
background: #eaebec;
border: #ccc 1px solid;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: 3px 3px 2px #d1d1d1;
-webkit-box-shadow: 3px 3px 2px #d1d1d1;
box-shadow: 3px 3px 2px #d1d1d1;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 1px 1px 0px #fff;
}
#shows span:hover{
background: #f2f2f2;
background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
#shows span.selected{
background: #D3D3D3;
}

#results table caption{
text-align: left;
font-size: 16px;
}
/* Thanks to http://johnsardine.com/freebies/dl-html-css/simple-little-tab/ */
#results table{
width: 100%;
border-collapse: separate; /* Override normalize.css */
margin: 20px;
color: #666;
background: #eaebec;
border: #ccc 1px solid;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 0 1px 2px #d1d1d1;
-webkit-box-shadow: 0 1px 2px #d1d1d1;
box-shadow: 0 1px 2px #d1d1d1;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
text-shadow: 1px 1px 0px #fff;
}
#results table tr.yui3-datatable-even td{
background: #f6f6f6;
background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}
#results table th{
padding: 13px 20px 14px 20px;
border-bottom: 1px solid #e0e0e0; border-top: 1px solid #fafafa;
background: #ededed;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
background: -moz-linear-gradient(top, #ededed, #ebebeb);
}
/* begin Links */
#results table a:visited{
color: #999999;
font-weight: bold;
text-decoration: none;
}
#results table a:active,
#results table a:hover{
color: #bd5a35;
text-decoration: underline;
}
#results table a:link{
color: #666;
font-weight: bold;
text-decoration: none;
}
/* end Links */
/* begin Corners */
#results table thead tr:first-child th:first-child{
-moz-border-radius-topleft: 3px;
-webkit-border-top-left-radius: 3px;
border-top-left-radius: 3px;
}
#results table thead tr:first-child th:last-child{
-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
border-top-right-radius: 3px;
}
#results table tr:last-child td{
border-bottom: 0;
}
#results table tr:last-child td:first-child{
-moz-border-radius-bottomleft: 3px;
-webkit-border-bottom-left-radius: 3px;
border-bottom-left-radius: 3px;
}
#results table tr:last-child td:last-child{
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-right-radius: 3px;
border-bottom-right-radius: 3px;
}
/* end Corners */
#results table tr{
text-align: center;
}
#results table td.yui3-datatable-col-EpisodeName{
text-align: left;
}
#results table tr:hover td{
background: #f2f2f2;
background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}
#results table tr td{
padding: 6px;
border-bottom: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; border-top: 1px solid #ffffff;
background: #fafafa;
background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}
#results table tr td:first-child{
border-left: 0;
}